In [1]:
import pandas as pd
from P6_code.FinishedCode.importData import ImportEV
from P6_code.FinishedCode.dataTransformation import createUsers
import plotly.graph_objects as go

In [43]:
start, end = '2000-01-01', '2022-12-31'

ev_data_caltech = ImportEV().getCaltech(start_date=start, end_date=end, removeUsers=False, userSampleLimit=25)
Users_caltech = createUsers(ev_data_caltech, start, end).data
ev_data_jpl = ImportEV().getJPL(start_date=start, end_date=end, removeUsers=False, userSampleLimit=25)
Users_jpl = createUsers(ev_data_jpl, start, end).data
ev_data_office = ImportEV().getOffice(start_date=start, end_date=end, removeUsers=False, userSampleLimit=25)
Users_office = createUsers(ev_data_office, start, end).data

all_users = pd.concat([ev_data_caltech, ev_data_jpl, ev_data_office], ignore_index=True)
all_users.dropna(subset=['userID'], inplace=True)
all_users.drop(['_id', 'sessionID', 'timezone'], axis='columns', inplace=True)
all_users

,clusterID,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,userID,userInputs
222,0039,2018-04-30 08:07:49+00:00,2018-04-30 17:27:55+00:00,2018-04-30 17:27:51+00:00,47.808,0002,CA-314,2-39-88-24,000000022,"[{'WhPerMile': 350, 'kWhRequested': 59.5, 'mil..."
583,0039,2018-05-07 07:38:18+00:00,2018-05-07 18:15:01+00:00,2018-05-07 18:14:53+00:00,27.683,0002,CA-303,2-39-139-28,000000061,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
845,0039,2018-05-11 08:17:01+00:00,2018-05-11 17:18:43+00:00,2018-05-11 16:05:56+00:00,17.485,0002,CA-314,2-39-88-24,000000022,"[{'WhPerMile': 350, 'kWhRequested': 17.5, 'mil..."
958,0039,2018-05-14 06:50:26+00:00,2018-05-14 16:09:45+00:00,2018-05-14 13:43:40+00:00,11.795,0002,CA-489,2-39-79-380,000000066,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
1006,0039,2018-05-14 17:06:39+00:00,2018-05-14 18:13:58+00:00,2018-05-14 17:39:01+00:00,3.076,0002,CA-303,2-39-139-28,000000061,"[{'WhPerMile': 250, 'kWhRequested': 5.0, 'mile..."
...,...,...,...,...,...,...,...,...,...,...
66740,0102,2021-09-09 14:11:44+00:00,2021-09-09 20:47:58+00:00,2021-09-09 20:47:33+00:00,19.342,0019,08,19-102-260-1640,000006140,"[{'WhPerMile': 258, 'kWhRequested': 72.24, 'mi..."
66741,0102,2021-09-10 08:33:08+00:00,2021-09-10 16:53:29+00:00,2021-09-10 15:49:37+00:00,33.186,0019,03,19-102-260-1634,000006620,"[{'WhPerMile': 1428, 'kWhRequested': 114.24, '..."
66742,0102,2021-09-10 14:12:26+00:00,2021-09-10 21:25:47+00:00,2021-09-10 21:25:34+00:00,19.894,0019,08,19-102-260-1640,000006140,"[{'WhPerMile': 258, 'kWhRequested': 72.24, 'mi..."
66743,0102,2021-09-13 10:35:32+00:00,2021-09-13 17:26:25+00:00,2021-09-13 17:26:05+00:00,26.688,0019,03,19-102-260-1634,000006620,"[{'WhPerMile': 1428, 'kWhRequested': 114.24, '..."
66744,0102,2021-09-13 14:21:51+00:00,2021-09-13 20:55:04+00:00,2021-09-13 20:54:48+00:00,18.019,0019,08,19-102-260-1640,000006140,"[{'WhPerMile': 258, 'kWhRequested': 72.24, 'mi..."

In [23]:
overlapping_users_charging_sessions = all_users[(all_users['userID'].isin(Users_caltech['userID'])) & (all_users['userID'].isin(Users_jpl['userID']))][['userID', 'siteID', 'spaceID', 'connectionTime', 'disconnectTime']]

#Tjek om et tidspunkt er i to intervaller
for i in overlapping_users_charging_sessions.index:
    for j in overlapping_users_charging_sessions.index:
        if i!=j:
            if overlapping_users_charging_sessions['userID'][i] == overlapping_users_charging_sessions['userID'][j]:
                if overlapping_users_charging_sessions['disconnectTime'][i] >= overlapping_users_charging_sessions['connectionTime'][j]:
                    if overlapping_users_charging_sessions['disconnectTime'][j] > overlapping_users_charging_sessions['connectionTime'][i]:
                        print(overlapping_users_charging_sessions.loc[i,])
                        print(overlapping_users_charging_sessions.loc[j,])
                        print('\n')

userID                            000003987
siteID                                 0002
connectionTime    2021-07-18 10:34:30+00:00
disconnectTime    2021-07-18 12:12:38+00:00
Name: 30316, dtype: object
userID                            000003987
siteID                                 0001
connectionTime    2021-07-16 10:52:18+00:00
disconnectTime    2021-07-19 13:41:13+00:00
Name: 63492, dtype: object


userID                            000001236
siteID                                 0001
connectionTime    2020-12-16 13:52:32+00:00
disconnectTime    2020-12-16 14:52:07+00:00
Name: 59076, dtype: object
userID                            000001236
siteID                                 0001
connectionTime    2020-12-16 14:34:39+00:00
disconnectTime    2020-12-16 16:23:33+00:00
Name: 59078, dtype: object


userID                            000001236
siteID                                 0001
connectionTime    2020-12-16 14:34:39+00:00
disconnectTime    2020-12-16 16:23:33+00:00
Name: 59078, dtype: object
userID                            000001236
siteID                                 0001
connectionTime    2020-12-16 13:52:32+00:00
disconnectTime    2020-12-16 14:52:07+00:00
Name: 59076, dtype: object


userID                            000003987
siteID                                 0001
connectionTime    2021-07-16 10:52:18+00:00
disconnectTime    2021-07-19 13:41:13+00:00
Name: 63492, dtype: object
userID                            000003987
siteID                                 0002
connectionTime    2021-07-18 10:34:30+00:00
disconnectTime    2021-07-18 12:12:38+00:00
Name: 30316, dtype: object


userID                            000000169
siteID                                 0001
connectionTime    2021-07-21 08:17:47+00:00
disconnectTime    2021-07-22 07:36:24+00:00
Name: 63540, dtype: object
userID                            000000169
siteID                                 0001
connectionTime    2021-07-21 08:27:24+00:00
disconnectTime    2021-07-22 07:35:54+00:00
Name: 63550, dtype: object


userID                            000000169
siteID                                 0001
connectionTime    2021-07-21 08:27:24+00:00
disconnectTime    2021-07-22 07:35:54+00:00
Name: 63550, dtype: object
userID                            000000169
siteID                                 0001
connectionTime    2021-07-21 08:17:47+00:00
disconnectTime    2021-07-22 07:36:24+00:00
Name: 63540, dtype: object


userID                            000000419
siteID                                 0001
connectionTime    2021-07-21 09:22:11+00:00
disconnectTime    2021-07-22 07:35:55+00:00
Name: 63564, dtype: object
userID                            000000419
siteID                                 0001
connectionTime    2021-07-21 09:25:07+00:00
disconnectTime    2021-07-22 07:35:56+00:00
Name: 63566, dtype: object


userID                            000000419
siteID                                 0001
connectionTime    2021-07-21 09:25:07+00:00
disconnectTime    2021-07-22 07:35:56+00:00
Name: 63566, dtype: object
userID                            000000419
siteID                                 0001
connectionTime    2021-07-21 09:22:11+00:00
disconnectTime    2021-07-22 07:35:55+00:00
Name: 63564, dtype: object

JPL er site 0001 og Caltech er site 0002

Tjek om brugere er både i Caltech og JPL:

In [5]:
Users_caltech['userID'][Users_caltech['userID'].isin(Users_jpl['userID']) & (Users_caltech['userID'].notna())].unique()

array(['000000076', '000000176', '000000340', '000000364', '000000342',
       '000000484', '000000171', '000000396', '000001039', '000000190',
       '000000832', '000000431', '000001011', '000000365', '000000362',
       '000000724', '000000336', '000000448', '000000423', '000001346',
       '000000433', '000001236', '000000420', '000000438', '000000313',
       '000001626', '000000630', '000001564', '000000376', '000001754',
       '000000444', '000000428', '000000372', '000001864', '000001525',
       '000000347', '000001025', '000000533', '000002183', '000000440',
       '000000828', '000000999', '000001797', '000000350', '000000369',
       '000001055', '000002213', '000000400', '000003176', '000002678',
       '000003222', '000001397', '000002507', '000000525', '000001725',
       '000003271', '000000379', '000003711', '000003233', '000000335',
       '000001162', '000000183', '000000419', '000000358', '000001302',
       '000003556', '000000346', '000000394', '000000393', '000000459',
       '000000315', '000003038', '000004861', '000001471', '000001297',
       '000000537', '000002014', '000002822', '000000363', '000000169',
       '000002177', '000006156', '000003987', '000015756', '000002643',
       '000015980', '000011472'], dtype=object)

In [64]:
len(Users_caltech['userID'][Users_caltech['userID'].isin(Users_jpl['userID']) & (Users_caltech['userID'].notna())].unique())

87

Caltech og Office1:

In [7]:
Users_caltech[Users_caltech['userID'].isin(Users_office['userID']) & (Users_caltech['userID'].notna())]

Empty DataFrame
Columns: [_id, clusterID, connectionTime, disconnectTime, doneChargingTime, kWhDelivered, sessionID, siteID, spaceID, stationID, timezone, userID, userInputs]
Index: []

JPL og Office1:

In [8]:
Users_jpl[Users_jpl['userID'].isin(Users_office['userID']) & (Users_jpl['userID'].notna())]

Empty DataFrame
Columns: [_id, clusterID, connectionTime, disconnectTime, doneChargingTime, kWhDelivered, sessionID, siteID, spaceID, stationID, timezone, userID, userInputs]
Index: []

Vi ser, at der kun er gengangere mellem JPL og Caltech og fokuserer derfor på disse:

In [62]:
all_users.loc[[30316, 63492, 59076, 59078, 63540, 63550, 63564, 63566], ]

,clusterID,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,stationID,userID,userInputs
30316,0039,2021-07-18 10:34:30+00:00,2021-07-18 12:12:38+00:00,2021-07-18 11:44:42+00:00,7.971000,0002,CA-304,2-39-138-29,000003987,"[{'WhPerMile': 250, 'kWhRequested': 30.0, 'mil..."
63492,0001,2021-07-16 10:52:18+00:00,2021-07-19 13:41:13+00:00,2021-07-19 13:41:07+00:00,8.180000,0001,AG-3F23,1-1-179-797,000003987,"[{'WhPerMile': 250, 'kWhRequested': 30.0, 'mil..."
59076,0001,2020-12-16 13:52:32+00:00,2020-12-16 14:52:07+00:00,2020-12-16 14:31:26+00:00,1.760849,0001,AG-4F43,1-1-191-778,000001236,"[{'WhPerMile': 350, 'kWhRequested': 14.0, 'mil..."
59078,0001,2020-12-16 14:34:39+00:00,2020-12-16 16:23:33+00:00,2020-12-16 16:23:16+00:00,5.123000,0001,AG-4F47,1-1-191-807,000001236,"[{'WhPerMile': 350, 'kWhRequested': 14.0, 'mil..."
63540,0001,2021-07-21 08:17:47+00:00,2021-07-22 07:36:24+00:00,2021-07-21 09:18:15+00:00,8.047000,0001,AG-1F02,1-1-193-827,000000169,"[{'WhPerMile': 360, 'kWhRequested': 14.4, 'mil..."
63550,0001,2021-07-21 08:27:24+00:00,2021-07-22 07:35:54+00:00,2021-07-21 09:15:08+00:00,1.575000,0001,AG-1F04,1-1-193-820,000000169,"[{'WhPerMile': 360, 'kWhRequested': 14.4, 'mil..."
63564,0001,2021-07-21 09:22:11+00:00,2021-07-22 07:35:55+00:00,2021-07-21 09:51:15+00:00,1.506000,0001,AG-3F24,1-1-179-796,000000419,"[{'WhPerMile': 299, 'kWhRequested': 23.92, 'mi..."
63566,0001,2021-07-21 09:25:07+00:00,2021-07-22 07:35:56+00:00,2021-07-21 09:51:14+00:00,2.563000,0001,AG-3F26,1-1-179-791,000000419,"[{'WhPerMile': 299, 'kWhRequested': 23.92, 'mi..."

In [63]:
for i in [30316, 63492, 59076, 59078, 63540, 63550, 63564, 63566]:
    print(all_users.loc[i, 'userInputs'][0])

{'WhPerMile': 250, 'kWhRequested': 30.0, 'milesRequested': 120, 'minutesAvailable': 346, 'modifiedAt': 'Sun, 18 Jul 2021 17:34:30 GMT', 'paymentRequired': True, 'requestedDeparture': 'Sun, 18 Jul 2021 23:20:30 GMT', 'userID': 3987}
{'WhPerMile': 250, 'kWhRequested': 30.0, 'milesRequested': 120, 'minutesAvailable': 346, 'modifiedAt': 'Fri, 16 Jul 2021 17:52:18 GMT', 'paymentRequired': True, 'requestedDeparture': 'Fri, 16 Jul 2021 23:38:18 GMT', 'userID': 3987}
{'WhPerMile': 350, 'kWhRequested': 14.0, 'milesRequested': 40, 'minutesAvailable': 480, 'modifiedAt': 'Wed, 16 Dec 2020 20:52:31 GMT', 'paymentRequired': True, 'requestedDeparture': 'Thu, 17 Dec 2020 04:52:32 GMT', 'userID': 1236}
{'WhPerMile': 350, 'kWhRequested': 14.0, 'milesRequested': 40, 'minutesAvailable': 480, 'modifiedAt': 'Wed, 16 Dec 2020 21:35:51 GMT', 'paymentRequired': True, 'requestedDeparture': 'Thu, 17 Dec 2020 05:34:39 GMT', 'userID': 1236}
{'WhPerMile': 360, 'kWhRequested': 14.4, 'milesRequested': 40, 'minutesAvailable': 480, 'modifiedAt': 'Wed, 21 Jul 2021 15:17:46 GMT', 'paymentRequired': True, 'requestedDeparture': 'Wed, 21 Jul 2021 23:17:47 GMT', 'userID': 169}
{'WhPerMile': 360, 'kWhRequested': 14.4, 'milesRequested': 40, 'minutesAvailable': 480, 'modifiedAt': 'Thu, 22 Jul 2021 12:22:32 GMT', 'paymentRequired': True, 'requestedDeparture': 'Wed, 21 Jul 2021 23:27:24 GMT', 'userID': 169}
{'WhPerMile': 299, 'kWhRequested': 23.92, 'milesRequested': 80, 'minutesAvailable': 360, 'modifiedAt': 'Thu, 22 Jul 2021 13:23:46 GMT', 'paymentRequired': True, 'requestedDeparture': 'Wed, 21 Jul 2021 22:22:11 GMT', 'userID': 419}
{'WhPerMile': 299, 'kWhRequested': 23.92, 'milesRequested': 80, 'minutesAvailable': 360, 'modifiedAt': 'Wed, 21 Jul 2021 16:25:06 GMT', 'paymentRequired': True, 'requestedDeparture': 'Wed, 21 Jul 2021 22:25:07 GMT', 'userID': 419}