In [79]:
import pandas as pd
from pathlib import Path
import plotly.express as px
import plotly.graph_objs as go

In [81]:
weather_pasadena = pd.read_csv(Path('../Data/weather_Pasadena_hourly.csv'))
weather_pasadena

,Stn Id,Stn Name,CIMIS Region,Date,Hour (PST),Jul,ETo (mm),qc,Precip (mm),qc.1,...,Rel Hum (%),qc.5,Dew Point (C),qc.6,Wind Speed (m/s),qc.7,Wind Dir (0-360),qc.8,Soil Temp (C),qc.9
0,159,Monrovia,Los Angeles Basin,2/2/2018,100,33,0.00,,0.0,,...,43.0,,0.6,,1.2,,350.0,,16.5,
1,159,Monrovia,Los Angeles Basin,2/2/2018,200,33,0.00,,0.0,,...,44.0,,0.2,,1.3,,348.0,,16.4,
2,159,Monrovia,Los Angeles Basin,2/2/2018,300,33,0.00,,0.0,,...,43.0,,-0.2,,1.4,,345.0,,16.3,
3,159,Monrovia,Los Angeles Basin,2/2/2018,400,33,0.00,,0.0,,...,43.0,,-0.5,,1.3,,347.0,,16.2,
4,159,Monrovia,Los Angeles Basin,2/2/2018,500,33,0.00,,0.0,,...,43.0,,-0.6,,1.2,,349.0,,16.1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,159,Monrovia,Los Angeles Basin,12/31/2018,2000,365,0.15,,0.0,,...,11.0,,-16.9,,4.7,,334.0,,12.5,
7988,159,Monrovia,Los Angeles Basin,12/31/2018,2100,365,0.15,,0.0,,...,11.0,,-16.7,,4.6,,332.0,,12.6,
7989,159,Monrovia,Los Angeles Basin,12/31/2018,2200,365,0.11,,0.0,,...,12.0,,-15.7,,3.2,,334.0,,12.6,
7990,159,Monrovia,Los Angeles Basin,12/31/2018,2300,365,0.10,,0.0,,...,14.0,,-15.2,,2.9,,334.0,,12.6,
7991,159,Monrovia,Los Angeles Basin,12/31/2018,2400,365,0.09,,0.0,,...,15.0,,-14.5,,2.7,,333.0,,12.6,

In [82]:
weather_pasadena = pd.read_csv(Path('../Data/weather_Pasadena_hourly.csv'))
weather_pasadena.drop([col for col in weather_pasadena.columns if 'qc' in col], axis = 1, inplace=True)
weather_pasadena.drop(['Stn Id', 'Stn Name', 'CIMIS Region'], axis = 1, inplace=True)
weather_pasadena['Date'] = pd.to_datetime(weather_pasadena['Date'])
weather_pasadena['Time'] = weather_pasadena['Date'] + pd.to_timedelta((weather_pasadena['Hour (PST)']/100 - 1), unit='h')
weather_pasadena

,Date,Hour (PST),Jul,ETo (mm),Precip (mm),Sol Rad (W/sq.m),Vap Pres (kPa),Air Temp (C),Rel Hum (%),Dew Point (C),Wind Speed (m/s),Wind Dir (0-360),Soil Temp (C),Time
0,2018-02-02,100,33,0.00,0.0,0.0,0.6,12.7,43.0,0.6,1.2,350.0,16.5,2018-02-02 00:00:00
1,2018-02-02,200,33,0.00,0.0,0.0,0.6,12.0,44.0,0.2,1.3,348.0,16.4,2018-02-02 01:00:00
2,2018-02-02,300,33,0.00,0.0,0.0,0.6,12.0,43.0,-0.2,1.4,345.0,16.3,2018-02-02 02:00:00
3,2018-02-02,400,33,0.00,0.0,0.0,0.6,11.7,43.0,-0.5,1.3,347.0,16.2,2018-02-02 03:00:00
4,2018-02-02,500,33,0.00,0.0,0.0,0.6,11.7,43.0,-0.6,1.2,349.0,16.1,2018-02-02 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,2018-12-31,2000,365,0.15,0.0,0.0,0.2,12.9,11.0,-16.9,4.7,334.0,12.5,2018-12-31 19:00:00
7988,2018-12-31,2100,365,0.15,0.0,0.0,0.2,12.8,11.0,-16.7,4.6,332.0,12.6,2018-12-31 20:00:00
7989,2018-12-31,2200,365,0.11,0.0,0.0,0.2,12.4,12.0,-15.7,3.2,334.0,12.6,2018-12-31 21:00:00
7990,2018-12-31,2300,365,0.10,0.0,0.0,0.2,11.8,14.0,-15.2,2.9,334.0,12.6,2018-12-31 22:00:00
7991,2018-12-31,2400,365,0.09,0.0,0.0,0.2,11.0,15.0,-14.5,2.7,333.0,12.6,2018-12-31 23:00:00